################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeckOfCards
/DeckOfCards/obj
/DeckOfCards/bin/Debug/netcoreapp2.0
/DeckOfCards.sln.DotSettings.user
